@model Tyler_MVC.ViewModels.Home.NetflixIndexViewModel
    @{ 
    ViewBag.Title = "NetflixList";
}

<div class="container">
    <div class="hero">
        <h2>Netflix Program List</h2>
        <img src="~/Images/netflix.jpg" class="heroImg" />
    </div>

    <div class="list-body">
        @*listBox     ID=netflixList*@
        @Html.ListBox("netflixList", Model.NetflixList)
        <h2> Title </h2>
        @*Info*@
        <dl class="NetflixProgramsList">
            <dt>ID</dt>
            <dd>@Model.allList.Title</dd>
        </dl>
    </div>

</div>
