@{
    ViewBag.Title = "Home Page";    
}
@using Tyler_MVC.Models
 @model Genre

<div class="jumbotron">
    <h1></h1>
    <p class="lead">The ultimate show selector</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="showContainer">
            <div class="provider">
                <p>Netflix</p>
                <input id="Netflix" type="checkbox" />
            </div>
            <div class="provider">
                <p>Hulu</p>
                <input id="Hulu" type="checkbox" />
            </div>
            <div class="provider">
                <p>Amazon</p>
                <input id="Amazon" type="checkbox" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="spinner-container">
            <div class="con-left">
                <p>Find Something to Watch</p>
                @Html.DropDownList("GenreType", new SelectList(Enum.GetValues(typeof(Genres))), "Select Genre")
                <div class="selectors">
                    <p>Movie</p>
                    <input id="Movie" type="checkbox" />
                    <p>Show</p>
                    <input id="Show" type="checkbox" />
                </div>
                <input id="Randomize" class="btn-btn-danger" type="submit" value="Randomize!" />
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="con-right">
            <div class="movie-poster">
                <img src="~/Images/blankPoster.jpg" class="poster" />
            </div>
            <div class= "info">
                <label class="title" id="title">Title</label>
                <br />
                <label class="description" id="desc">Description</label>
            </div>
        </div>
    </div>

</div>