
@{
    ViewBag.Title = "Languages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Languages</h2>

<ul>
    @foreach (var language in ViewBag.LanguagesList)
    {
        <li>@language.EnglishName</li>
    }
</ul>