@{
        ViewBag.Title = "MovieLibrary";
    }

    <h2>MovieLibrary</h2>

@*<!DOCTYPE html>
<html>
<head>
    <title>Movie Library Page</title>
</head>
<body>

    @RenderPage("~/Shared/_Header.cshtml")

    <h1>Movie Library Page Content</h1>
    <p>This is the content of the Movie Library page.</p>

    @RenderPage("~/Shared/_Footer.cshtml")

</body>
</html>*@