
@model System.Globalization.CultureInfo[]

@{
    //ViewBag.Title = "Languageus";
    var listItems = Model.Select(c => new SelectListItem() { Text = c.EnglishName });
}

<h2>Available Languageus</h2>

<div class="row">
    <div class="col-xs-6">
        @Html.ListBox("lang", listItems)
    </div>

    <div class="col-xs-6">
        @Html.DropDownList("lang2", listItems)
    </div>
</div>

